<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcardo</title>
    <link rel="stylesheet" href="{{url_for('static',filename='estilo.css')}}">
</head>
<body>
    <div class="columna">
    <div class="titulo">Juego del Ahorcado</div>
        <div class="renglon">
            {{abcedario}}
        </div>

        <div class="renglon">
            <img src="{{image}}" alt="Juego ahorcado">
        </div>
        <div class="renglon">
            {% for val in lista_pal %}
                {% for keys in val %}
                {{val[keys]}}
                {% endfor %}
            {% endfor %}
        </div>
        <div>
            <form action="{{request.base_url}}" method="post">
                <div>
                    {% if fin %}
                    <div>
                    <a href="{{url_for('nuevo_juego')}}">Nuevo juego</a>
                    </div>
                    {% else %}
                        {% from "dropdown.html" import dropdown %}
                        {{ dropdown("valor",lista_abc)}}
                        <button type="submit">Enviar</button>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>
</body>
</html>